<a href="/shelters">All Shelters</a>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p><br>
<p><%= @shelter.city %></p><br>
<p><%= @shelter.state %></p><br>
<p><%= @shelter.zip_code %></p>

<a href="/shelters/<%= @shelter.id %>/edit">Edit</a>
