<h1>Pets</h1>

<% @pets.each do |pet| %>
<h3><%= pet.name %></h3>
<ul>
  <li><img src="<%= pet.image %>" alt="Picture of the pet"></li>
  <li>Name:<%= pet.image %></li>
  <li>Approximate Age:<%= pet.image %></li>
  <li>Sex:<%= pet.image %></li>
  <li>Located at:<%= pet.image %></li>
</ul>
<% end %>