
<h1><%= @pet_by_id.name %></h1>
<img src="<%= @pet_by_id.image %>" alt="Picture of the pet">
<ul>
  <li>Description: <%= @pet_by_id.description %></li>
  <li>Age: <%= @pet_by_id.age %></li>
  <li>Sex: <%= @pet_by_id.sex %></li>
  <li>Status: <%= @pet_by_id.status %></li>
</ul>